body {
	font-family: 'Meiryo UI';
	font-size: 16px;
	padding: 10px 10px;
}

#othello,
#info {
	float: left;
}

#ai, #you, #stat {
	margin-left: 20px;
}
#stat {
	padding-top: 20px;
}
#ai > span, #you > span {
	font-size: 32px;
	padding-left: 10px;
	vertical-align: bottom;
}

#you:before {
	content: "";
	display: inline-block;
	width: 0px;
	height: 0px;
	border:16px solid black;
	border-radius: 16px 16px;
}
#ai:before {
	content: "";
	display: inline-block;
	width: 30px;
	height: 30px;
	border:1px solid gray;
	border-radius: 16px 16px;
	background: white;
}

#othello {
}
#othello > div {
	height: 41px;
}
#othello > div > div {
	display: inline-block;
	position: relative;
	background: #5a5;
	margin-right: 1px;
	margin-bottom: 1px;
	width: 40px;
	height: 40px;
}
#othello > div > div > div {
	display: inline-block;
	position: absolute;
}
#othello > div > div > div.b,
#othello > div > div > div.wb {
	width: 0px;
	height: 0px;
	border: 16px solid black;
	border-radius: 16px 16px;
	top: 4px;
	left: 4px;
}
#othello > div > div > div.w,
#othello > div > div > div.bw {
	width: 0px;
	height: 0px;
	border: 16px solid white;
	border-radius: 16px 16px;
	top: 4px;
	left: 4px;
}

#othello > div > div > div.bw {
	animation: bw 0.3s 0s 1;
}
#othello > div > div > div.wb {
	animation: wb 0.3s 0s 1;
}}

@keyframes bw {
0% {
	border-color: black;
}
50% {
	border-color: white;
}
100% {
}
}
@keyframes wb {
0% {	transform: rotateY(0deg); border-color: white; }
25% {	transform: rotateY(45deg);  border-color: white; }
50% {	transform: rotateY(90deg); border-color: black; }
75% {	transform: rotateY(45deg); border-color: black}
100% {	transform: rotateY(0deg); border-color: black}
}
@keyframes bw {
0% {	transform: rotateY(0deg); border-color: black; }
25% {	transform: rotateY(45deg); border-color: black}
50% {	transform: rotateY(90deg); border-color: white; }
75% {	transform: rotateY(45deg); border-color: white; }
100% {	transform: rotateY(0deg); border-color: white; }
}
